:root{
    --primary:#FF6800;
}
body{
    font-family: "Roboto", sans-serif;

  }
 .btn-icon{
 
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;



 }

 .btn-icon i{
    font-size: 20px;
 }

 .btn-primary{
    --bs-btn-bg:var(--primary);
    --bs-btn-border-color:var(--primary);
    --bs-btn-hover-bg:var(--primary);
    --bs-btn-hover-border-color:var(--primary);
    --bs-btn-active-bg:var(--primary);
    --bs-btn-active-border-color:var(--primary);
    --bs-btn-border-radius:99999px;
    --bs-btn-padding-x:2rem; 
 }